/* Add Task table styles */
.add-task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .add-task-table td {
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background color */
  }
  
  .add-task-table h2 {
    font-size: 24px;
    color: #333; /* Text color */
  }
  
  /* Add Task form styles */
  .add-task-form {
    width: 100%;
  }
  
  .add-task-form .form-group {
    margin-bottom: 20px;
  }
  
  .add-task-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-task-form input[type="text"],
  .add-task-form textarea,
  .add-task-form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-task-form .submit-button {
    background-color: #007bff; /* Blue button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-task-form .submit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  .heading {
    text-align: center;
  font-size: 34px; /* Adjust font size as needed */
  color: #fff; /* Text color */
  background-color: #007bff; /* Background color */
  padding: 10px 0; /* Add padding for spacing */
  border-radius: 5px;
  }